<div id="formbackground">
<div class="contactform">
  <form action="">

    <label for="fname" style="display: inline;float: left">Your Name*</label>
    <label for="cname" style="display: inline;float: right">Your Company Name</label>
    <br>

    <input type="text" id="fname" name="firstname" placeholder="Your name.." style="display: inline;float: left;width: 45%">


    <input type="text" id="cname" name="lastname" placeholder="Your company name.." style="display: inline;float: right;width: 45%">
<br>
    <br>
    <label for="email" style="display: inline;float: left">Your Company Email*</label>
    <label for="country" style="display: inline;float: right">How can we Help</label>
    <br>

    <input type="text" id="email" name="lastname" placeholder="Your Company email.." style="display: inline;float: left;width: 45%">


    <select id="country" name="country" style="display: inline;float: right;width: 45%">
      <option value="Business Enquiry">Business Enquiry</option>
      <option value="Job Openings">Job Openings</option>

    </select>
<br>
    <br>
    <label for="subject" style="display: inline;float: left">Subject of interest*</label>
    <br>
    <textarea id="subject" name="subject" placeholder="Write something.." style="display: inline;float: left;height: 50px;width: 45%"></textarea>

    <input type="submit" value="Submit" style="color: white;background-color: deepskyblue;display: inline;float: right">

  </form>
</div>

</div>

