
<div style="height:10%;width: 80%;position: absolute;top:45%;margin-left: 5cm;margin-right: 5cm">

  <a href="" style="color: white;" style="display: inline;float: left;background-color: deepskyblue;width: 50%;height: 100%;text-align: center;font-size: x-large;text-decoration: none;"><p style="display: inline;position: absolute;left: 6cm;"><img align="center" src='assets/jointeam.png'>  Join our team</p></a>

  <a href="" style="color: white;" style="display: inline;float: right;background-color: aquamarine;width: 50%;height: 100%;text-align: center;font-size: x-large;text-decoration: none"><p style="display: inline;position: absolute;right: 6cm;"><img align="center" src='assets/meetteam.png'>Meet our team</p></a>

</div>

