
<footer style="position: absolute;bottom: 0;width: 100%;background-color: gainsboro ;height: 15%"  >

  <br>
<div align="left" id="footanchor">
<a href="" class="anchors">Solutions</a>
<a href="" class="anchors">Services</a>
<a href="" class="anchors">Who we are</a>
  <a href="" class="anchors">Perspectives</a>
  <a href="" class="anchors">Locations</a>



</div>


<div  align="right" id="footimg">

  Follow us on  : <img src='assets/logotweet.png' alt="tweet" height="25px" width="25px" >
  <img src='assets/logofb.png' alt="tweet" height="25px" width="25px"  >
  <img src='assets/logolinkedin.png' alt="tweet" height="25px" width="25px"  >
  <img src='assets/logoyoutube.png' alt="tweet" height="25px" width="25px"  >
</div>

<hr>
<div >

    <a href="" class="anchors" style="display: inline;margin-left: 5cm">Privacy Policy</a>


  <p align="right" style="display: inline;float: right;margin-right: 5cm">
    @ 2017 Nagarro
  </p>

</div>
</footer>
